/*general*/
body {
	direction: rtl;
	text-align: right;
	background-image: url('imagesPaz/images/header_bg.png');
	background-repeat: repeat-x;
}
#container {
	width: 900px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 105px;
	position: relative;
	z-index: 100;
}
footer {
}
li {
	text-decoration: none;
	margin: 0px;
	padding: 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
}
li span {
	margin: 0 10px;
}
ul {
	margin: 0;
	padding: 0;
}
section {
	margin-top: 20px;
}

/*header*/
#logo {
	display: inline-block;
	position: absolute;
	bottom: -20px;
	right: -8px;
	width: 142px;
	height: 93px;
}
#menu {
	font-family: Arial;
	margin-bottom: 15px;
	height: 33px;
	position: absolute;
	top: 72px;
	margin: 0 143px 0 0;
}
#menu li {
	display: inline-block;
}
#search {
	position: absolute;
	left: 0;
	top: 20px;
}
.box {
	position: relative;
	display: inline-block;
	height: 355px;
	width: 293px;
	background-size: 100% 100%;
	background-repeat: no-repeat
}
.box #pic1{
	background-image: url('imagesPaz/images/header_bg.png');
}
.box #pic1{
	
}
.box #pic1{
	
}

.box p {
	position: absolute;
	bottom: 0;
}
